* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Laffayette";
}

@font-face {
  font-family: "Laffayette";
  src: url("./assets/fonts/Laffayette_Comic_Pro.ttf");
}
main {
  background-image: url("./assets/images/green-checkers-bg.jpg");
  padding: 0px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
main img.spanish-woman {
  position: absolute;
  bottom: 20%;
  right: 30%;
  z-index: 10;
}
main img.english-man {
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 100;
}
main img.eyes {
  position: absolute;
  display: none;
  z-index: 10;
  top: 10px;
  width: 25%;
}
main img.point {
  position: absolute;
  display: none;
  width: 20%;
  bottom: 0px;
  left: 30%;
}
main div.question {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 16px 8px;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
main div.question button {
  background-color: white;
  width: 30%;
  padding: 16px;
  margin: 20px 0px;
  font-size: 24px;
  color: rgb(50, 50, 71);
  border-radius: 20px;
}
main div.question p {
  font-size: 36px;
  color: rgb(26, 114, 14);
}
main div.english {
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main div.english span {
  margin: 20px 0px;
  font-size: 48px;
  color: rgb(26, 114, 14);
}
main div.spanish {
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main div.spanish span {
  margin: 20px 0px;
  font-size: 48px;
  color: rgb(26, 114, 14);
}

footer {
  position: fixed;
  color: rgb(26, 114, 14);
  bottom: 10px;
  font-weight: bold;
}

@keyframes disappear {
  from {
    display: flex;
    scale: 1.5;
  }
  to {
    display: none;
    scale: 0;
  }
}
@keyframes appear {
  from {
    display: none;
    scale: 0;
  }
  to {
    display: flex;
    scale: 1.5;
  }
}
@media (max-width: 480px) {
  main img.english-man {
    position: fixed;
    top: 14%;
    right: 0%;
    z-index: 1;
  }
  main img.spanish-woman {
    position: fixed;
    left: 0%;
    bottom: 18%;
  }
  main img.eyes {
    width: 100%;
  }
  main img.point {
    width: 60%;
    left: 15%;
    bottom: 20px;
  }
  main div.question #englishBtn {
    z-index: 10;
  }
  main div.question button {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  main img.english-man {
    position: fixed;
    top: 14%;
    left: 55%;
  }
  main img.spanish-woman {
    position: fixed;
    left: 0%;
    bottom: 18%;
  }
  main img.eyes {
    width: 100%;
  }
  main img.point {
    width: 40%;
    left: 28%;
    bottom: 20px;
  }
  main div.question button {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  main img.english-man {
    position: fixed;
    top: 26%;
    left: 58%;
    z-index: 1;
  }
  main img.spanish-woman {
    position: fixed;
    left: 0%;
    bottom: 28%;
  }
  main img.eyes {
    width: 100%;
  }
  main img.point {
    width: 50%;
    left: 28%;
    bottom: 20px;
  }
  main div.question #englishBtn {
    z-index: 10;
  }
  main div.question button {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */